{% for size in sizes %}
  <div class="row sans-{{ size }}{% if loop.first %}{% else %} mt2 pt2 bt1px bt-solid bt-lightgray{% endif %}">
    <p class="fw600 m0 p0 col-fill lh-single">
      sans-{{ size }}
    </p>

    <p class="fw300 m0 p0 w50ct right lh-single">
      sans-{{ size }}
    </p>
  </div>
{% endfor %}

<div class="mxn2 mt2">
  <div class="row sq20 float-left m2 bg-red">
    <p class="col-f1 white sans-s4 fw600 center">
      Hi.
    </p>
  </div>
  <div class="row sq20 float-left m2 bg-blue">
    <p class="col-f1 white sans-s4 fw600 center">
      Hi.
    </p>
  </div>
  <div class="row sq20 float-left m2 bg-green">
    <p class="col-f1 white sans-s4 fw600 center">
      Hi.
    </p>
  </div>
  <div class="row sq20 float-left m2 bg-gold relative">
    <p class="col-f1 white sans-s4 fw600 center">
      Hi.
    </p>
    <p class="absolute top-100ct right-0 left-0 pt2px sans-s2 lh-single">
      hi
    </p>
  </div>
  <div class="row sq20 float-left m2 bg-textblack">
    <p class="col-f1 white sans-s4 fw600 center">
      Hi.
    </p>
  </div>
</div>
