<button class="usa-button {% if buttonType == 'primary' %}usa-button-primary{% endif %}{% if isAlt %}-alt{% endif %}{% if buttonType == 'secondary' %}usa-button-secondary{% endif %}{% if buttonType == 'gray' %}usa-button-gray{% endif %}{% if buttonType == 'outline' %}usa-button-outline{% endif %}{% if buttonType == 'inverse' %}usa-button-outline-inverse{% endif %}{% if buttonType == 'disabled' %}usa-button-disabled{% endif %}{% if buttonType == 'big' %}usa-button-big{% endif %}" {% if buttonType == 'disabled' %}disabled="disabled"{% endif %}>{{ buttonText }}</button>
