<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marigold</title>
    {% for asset in _target.resources.assets %}
      {% if asset.isCSS %}

      {% endif %}
    {% endfor %}
    {% block styles %}
      <link media="all" rel="stylesheet" href="{{ '/assets/uswds-0.14.0/css/uswds.min.css' | path }}">
    {% endblock %}

  </head>
  <body>
    {% block main %}{{ yield }}{% endblock %}
    {% block scripts %}
  <script src="{{ '/assets/uswds-0.14.0/js/uswds.min.js' | path }}"></script>
    {% endblock %}
    {% for asset in _target.resources.assets %}
      {% if asset.isJS %}

      {% endif %}
    {% endfor %}
  </body>
</html>
