<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/main.css' }}">
    <title>Marigold</title>
</head>
<body>

{{{ yield }}}

</body>
</html>