<label for="toggle_switch" class="main-label">
 {{ question }}
</label>

<label class="label-switch">
  <input type="checkbox" id="toggle_switch" tabindex="0" aria-describedby="test_toggle ">
  <div class="checkbox" role="checkbox" tabindex="-1">
    <span>YES</span>
  </div>
</label>